/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0b0bc5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color:#d11d1d;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(3, 211, 48, 0.2);
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #e60909;
    margin-bottom: 20px;
    font-size: 24px;
}

.login-options-box {
    margin-top: 20px;
}

.login-options-box p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.login-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-links a {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.login-links a:hover {
    background-color: #0056b3;
}
